* {
  margin: 0;
  padding: 0;
}

$primary: #4021d3;
$hover_primary: rgb(81, 57, 202);
$secondary: #ca0314;
$grey: #f9f9f9;
$shadow: rgba(0, 0, 0, 0.15);

body {
  background: $grey;
  font-family: "Raleway", sans-serif;
}
.login-body {
  width: 40%;
  position: absolute;
  left: 50%;
  margin-left: calc(-20%);
  padding-top: 5%;
  .login {
    width: 100%;
    height: auto;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.15);
    img {
      position: relative;
      width: 20%;
      padding-top: 10%;
      left: 50%;
      margin-left: calc(-10%);
    }
    #throw-error {
      display: none;
      position: relative;
      margin-top: 2%;
      left: 50%;
      margin-left: calc(-40%);
      width: 80%;
      height: 25px;
      background: $secondary;
      border-radius: 30px;
      color: #fff;
      font-weight: 600;
      text-align: center;
      .invalid {
        font-size: 14px;
        padding-top: 5px;
      }
    }
    .form-log {
      width: 100%;
      padding: 5% 15%;
      input[type="text"],
      input[type="password"] {
        width: 100%;
        padding: 8px;
        margin-bottom: 4%;
        border: 2px solid $primary;
        border-radius: 5px;
        outline: none;
      }
      input[type="text"]:hover,
      input[type="password"]:hover {
        border: 2px solid black;
      }
      button {
        display: block;
        position: relative;
        width: 80px;
        padding: 5px;
        background: $primary;
        border: 2px solid $primary;
        border-radius: 50px;
        color: #fff;
        margin-left: 16px;
        margin-top: 30px;
        box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.15);
        cursor: pointer;
      }
      .captcha {
        width: 100%;
        position: relative;
        margin-top: 20px;
      }
      input[type="text"]::placeholder,
      input[type="password"]::placeholder {
        font-family: Raleway;
      }
      input[type="checkbox"] {
        display: inline;
        width: 16px;
        height: 16px;
        border: 1px solid black;
      }

      label {
        font-weight: 500;
        font-size: 16px;
        margin-bottom: 5px;
        justify-self: flex-start;
      }
      .remember {
        width: 50%;
        position: relative;
        margin-left: 5px;
        font-weight: 500;
        font-size: 14px;
      }
    }
    .opt {
      text-align: center;
      width: 100%;
      position: relative;
      top: 0px;
      left: 50%;
      margin-left: calc(-50%);
      font-size: 14px;
      opacity: 0.8;
    }
    .google {
      position: relative;
      width: 100%;
      img {
        display: inline;
        width: 36px;
        padding: 0;
        margin-top: 10px;
        cursor: pointer;
      }
    }
    .forgot {
      position: relative;
      display: inline-block;
      font-size: 14px;
      width: 50%;
      left: 50%;
      margin-left: calc(-15%);
      opacity: 0.6;
    }
    .createone {
      width: 100%;
      text-align: center;
      margin-top: 5%;
      margin-bottom: 5%;
      font-size: 14px;
      a {
        color: blue;
      }
    }
  }
  .login::before {
    content: "";
    position: absolute;
    width: 40%;
    height: 50px;
    border-radius: 10px;
    margin-top: -10px;
    background-image: linear-gradient(
      to left bottom,
      #4021d3,
      #a400a4,
      #ca0070,
      #d30041,
      #ca0314
    );
    z-index: -1;
  }
}
@media only screen and (max-width: 600px) {
  * {
    margin: 0;
    padding: 0;
  }
  .login-body {
    width: 90%;
    margin-left: calc(-45%);
    padding-top: 15%;
    .login {
      img {
        width: 25%;
        margin-left: calc(-12.5%);
      }
      form {
        padding: 5% 10%;
      }
      .google {
        img {
          width: 30px;
        }
      }
      .forgot {
        margin-left: calc(-45%);
      }
    }
  }
}
