* {
  padding: 0;
  margin: 0;
}

$primary: #4021d3;
$hover_primary: rgb(81, 57, 202);
$secondary: #ca0314;
$grey: #f9f9f9;
$shadow: rgba(0, 0, 0, 0.15);

.body-content-welcome {
  border: 1px solid rgb(173, 173, 173);
  width: 70%;
  background: #fff;
  height: 105%;
  position: absolute;
  z-index: -1;
  top: 13%;
  left: 50%;
  margin-left: calc(-35%);
  h1 {
    padding-top: 20px;
    padding-left: 5%;
    padding-bottom: 20px;
    position: relative;
    width: 95%;
    left: 50%;
    margin-left: calc(-47.5%);
    border-bottom: 1px solid rgb(212, 212, 212);
  }
  .intro {
    opacity: 0.6;
    padding-top: 10px;
    padding-left: 10%;
    font-size: 20px;
  }
  .update-profile {
    margin-top: 30px;
    .icon-edit {
      margin-left: 10%;
      width: 30px;
      position: relative;
    }
    h2 {
      position: relative;
      top: -7px;
      left: 10px;
      display: inline;
    }
    .profile-image {
      margin-top: 20px;
      padding-left: 20%;
      padding-top: 20px;
      img {
        width: 120px;
        height: 120px;
        position: relative;
        margin-top: 30px;
        border: 2px solid black;
        border-radius: 50%;
        padding: 3px;
      }
      input[type="file"] {
        position: relative;
        top: -40px;
        border: 2px solid $primary;
        border-radius: 50px;
        padding: 5px;
        margin-left: 20px;
      }
    }
    p {
      margin-top: 20px;
    }
    .username {
      padding: 30px;
      input[type="text"] {
        width: 30%;
        height: 30px;
        padding-left: 10px;
        border: 2px solid $primary;
        border-radius: 50px;
        outline: none;
      }
      input[type="text"]:placeholder {
        font-family: Raleway, sans-serif;
      }
    }
    button {
      position: relative;
      width: 80px;
      height: 30px;
      background: $primary;
      border: 1px solid $primary;
      border-radius: 50px;
      color: #fff;
      margin-top: 20px;
      font-weight: 600;
      box-shadow: 0px 3px 10px $shadow;
      cursor: pointer;
      outline: none;
    }
  }
}
@media only screen and (max-width: 600px) {
  * {
    padding: 0px;
    margin: 0px;
  }
  .body-content-welcome {
    width: 100%;
    height: 120%;
    top: 60px;
    margin-left: calc(-50%);
    h1 {
      font-size: 25px;
    }
    .intro {
      font-size: 16px;
    }
    .update-profile {
      margin-top: 20px;
      .profile-image {
        padding-left: 0;
        padding-top: 5px;
        text-align: center;
        img {
          width: 80px;
          height: 80px;
          justify-self: center;
          position: relative;
          margin-top: 20px;
        }
        input[type="file"] {
          position: relative;
          left: 0;
          top: 20px;
        }
      }
      p {
        margin-top: 30px;
      }
      .username {
        padding: 20px;
        input[type="text"] {
          display: block;
          position: relative;
          left: 50%;
          width: 70%;
          padding-left: 10px;
          margin-top: 10px;
          margin-left: calc(-35%);
        }
      }
      button {
        margin-top: 10px;
      }
    }
  }
}
